<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLDSVHTC.Properties.Settings.QLDSV_HTCConnectionString"
            connectionString="Data Source=MSI;Initial Catalog=QLDSV_HTC;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="QLDSVHTC.Properties.Settings.QLDSV_HTCConnectionString1"
            connectionString="Data Source=MSI\SEVER1;Initial Catalog=QLDSV_HTC;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>